/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}

html {
  box-sizing: border-box; /* установка границ внутри контейнера */
}

*, *::after, *::before {
  box-sizing: inherit;
}

body { /* первоначальные настройки для тела сайта */
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

.img {
  max-width: 100%; /* чтоб изображение не превышало размер контейнера в котором находится */
  max-height: auto; /* чтоб сжималось пропорционально */
}

.wrapper { /*заметили, что header и заголовок выравнены по левой стороне */
  max-width: 1060px; /* ширина блока */
  margin: 0 auto; /* выравнивание по центру относительно родителя */
}

.wrapper-full { /* для блока places */
  max-width: 1262px;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative; /* для черты */
  color: #102746;
  padding-bottom: 10px; /* 7 между + 3 полоска */
}

.section-title::after { /* подчеркиваем заголовок */
  display: block;
  content: ''; /* чтоб псевдо-элемент появился на странице */
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* header styles start */

.header {
  /* background-color: #000;/* первоначально, чтоб белые буквы и лого видеть */
  position: fixed; /* фиксируем меню навигации при скроллинге */
  top: 0;
  left: 0;
  width: 100%;
}

.header_wrapper { /* заполнение */
  display: flex;
  flex-wrap: wrap; /* перенос контента */
  align-items: flex-end; /* вертикальное выравнивание */
  justify-content: space-between; /* как располагать элементы */
  padding-top: 56px; /* отступ сверху */
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 82px; /* отступы в меню */
}

.header_item:last-child {
  margin-right: 0; /* обнуление последнего отступа */
}

.header_link { /* оформляем меню */
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none; /* убираем подчеркивание ссылок */
}

.header_link:hover, .header_link:focus, .header_link:active {
  opacity: .75; /* добавление прозрачности */
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 100vh; /* минимальная высота блока */
  background: url(../img/intro-bg.jpg) no-repeat center; /* без повторений по центру*/
  background-size: cover; /* полностью покрывать при любом масштабе */
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro_title { /* заголовок */
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro_subtitle { /* надпись под заголовком */
  color: white;
  font-size: 16px;
  line-height: 24px;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form_info {
  display: flex;
  flex-wrap: wrap;
}

.search-form_field { /* вставляем маркер предварительно его почистив */
  width: 297px;
  background: transparent url(../img/svg/circle-icon.svg) no-repeat left 6px;
  background-size: 20px; /* на всякий случай ограничили размер */
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form_field::placeholder { /* подсказка */
  font-weight: 500;
  font-size: 18px;
  color: #fff;  
}

.search-form_submit { /*кнопка search */
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active {
  background: #0c66da;
}
/* Intro styles end*/

/* Benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits_wrap {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto; /* выравнивание по центру */
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993); /* тень */
  position: relative;
}

.benefits_title {
  width: 100%; /* фон надписи на ширину родителя */
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%); /* подняли белый фон */
  background-color: white;
}

.benefits_cards { /* делаем сеткой */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits_card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits_card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits_card-tumb {
  display: block; /* у SVG есть отступы, отключаем */
}

.benefits_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits_card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits_card-more { /* ссылка + стрелка + анимация стрелки*/
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
  transition: .2s;
  /* background-size: ; размер в данном случае = размер картинки */
}

.benefits_card-more:hover, .benefits_card-more:focus {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */

.places {
  margin-bottom: 131px;
}
.places_caption { /* заголовок и ссылка  VIEW ALL */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;

}

.places_title {
  margin-right: 15px;
}

.places_view-all {
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.places_view-all:hover, .places_view-all:focus {
  opacity: .65;
}

.places_cards { /* делаем сетку для картинок с местами на 6 ячеек (делится на 2 и на 3) */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places_card { /* интерактивность картинок */
  position: relative;
  overflow: hidden; /* края прятать при увеличении при наведении */
}

.places_card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* порядок слоя */
}

.places_card:hover .places_card-pic {
  transform: scale(1.05); /* увеличение при наведении */

}

.places_card-title {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3; /* порядок слоя */
}

.places_card_size_lg { /* ширина по количеству ячеек в сетке */
  grid-column: span 3;
}

.places_card_size_sm { /* ширина по количеству ячеек в сетке */
  grid-column: span 2;
}

.places_card-pic { /* если картинки разных размеров */
  width: 100%;
  transition: .15s all; /* плавность при увеличении при наведении */
}

.places_card_size_lg {
  height: 354px; /* выравниваем по высоте */
  object-fit: cover; /* масштаб в центр за счет краев */
}

.places_card_size_sm {
  height: 283px; /* выравниваем по высоте */
  object-fit: cover; /* масштаб в центр за счет краев */
}

.places_card-link { /* Указатель при клике */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places styles end */